body { margin:0; overflow:hidden; background:#ffd1ec; }

#startScreen{
  position:fixed;
  width:100%;
  height:100%;
  background:linear-gradient(#ffb6e6,#ffd6f2);
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  z-index:20;
  color:white;
  font-family:serif;
}

#enterBtn{
  padding:15px 40px;
  font-size:22px;
  border:none;
  border-radius:30px;
  background:white;
  color:#ff69b4;
  cursor:pointer;
}

canvas{
  position:fixed;
  top:0;
  left:0;
  z-index:1;
}
